@tailwind base;
@tailwind components;

@layer base {
  html {
    @apply font-sans antialiased;
  }

  html, body, #app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  ::placeholder {
    @apply font-sans text-base;
  }

  a:focus {
    @apply outline-none;
  }

  input[type="checkbox"] {
    @apply border-gray-300 checked:border-navy-500 checked:bg-lime-500 text-lime-500 focus:ring-lime-500 h-6 w-6 rounded;
  }

  input[type="radio"] {
    @apply border-gray-300 checked:border-navy-500 checked:bg-lime-500 text-lime-500 focus:ring-lime-500 h-6 w-6 rounded-full;
  }
}

@layer components {
  .btn {
    @apply px-5 py-2.5 rounded outline-none focus:ring-offset-2 focus:ring-2;
  }

  .btn.small {
    @apply px-3 py-1;
  }

  .tag {
    @apply rounded-full px-5 py-2.5 outline-none focus:ring-offset-2 focus:ring-2;
  }

  .primary {
    @apply text-white text-center bg-navy-500 disabled:bg-navy-100 rounded hover:bg-navy-300 active:bg-navy-600 focus:bg-navy-600 ring-navy-500 transition-all;
  }

  .secondary {
    @apply text-white text-center bg-gray-500 disabled:bg-gray-100 rounded hover:bg-gray-300 active:bg-gray-600 focus:bg-gray-600 ring-gray-500 transition-all;
  }

  .tertiary {
    @apply text-navy-500 text-center ring-navy-500 transition-all border border-navy-500 hover:border-navy-300 hover:text-navy-300 active:border-navy-300 active:text-navy-300 disabled:border-navy-100 disabled:text-navy-100;
  }

  .warning {
    @apply text-red text-center ring-red transition-all border border-red hover:text-white hover:bg-red active:border-navy-300 active:text-navy-300 disabled:border-navy-100 disabled:text-navy-100;
  }

  .spinner {
    @apply absolute z-10 -mt-6 -ml-6 top-2/4 left-2/4 animate-spin;
  }

  .spinner .path {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@tailwind utilities;

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #0D2860;
  font-size: 10px;
  margin: 0 auto 5em;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
